:root {
  /* Primary + durchsichtige Variante für Gradients */
  --primary: #a11cf2;
  --primary-o9: rgba(161, 28, 242, 0.9);
  --primary-o5: rgba(161, 28, 242, 0.47);
  /* Accent + durchsichtige Variante für Gradients */
  --accent: #13fed4;
  --accent-o9: rgba(19, 254, 212, 0.9);
  --accent-o5: rgba(19, 254, 212, 0.5);
  --light-gray: #e8e8e8;
  --gray: #c4c4c4;
  --dark-gray: #5e5e5e;
  --black-gray: #2b2b2b;
  --white: #ffffff;
  --black: #000000;
  --danger: #ef500c;
}

.overflow-hidden {
  overflow: hidden;
}

/* Font styles */
.text-display {
  font: 500 4.8rem / 6rem Quicksand, sans-serif;
}
.text-heading {
  font: 500 2.8rem / 3.5rem Quicksand, sans-serif;
}
.text-subheading {
  font: 600 2rem / 2.7rem Quicksand, sans-serif;
}
.text-body {
  font: 300 1.6rem / 2.2rem Nunito, sans-serif;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-center {
  justify-content: center;
}
.items-start {
  align-items: flex-start;
}
.items-center {
  align-items: center;
}
.flex-grow {
  flex-grow: 1;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.flex-1 {
  flex: 1;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-white {
  color: var(--white);
}
.text-accent {
  color: var(--accent);
}
.font-bold {
  font-weight: bold;
}
.font-bolder {
  font-weight: bolder;
}

.bg-primary {
  background: var(--primary);
}
.bg-accent {
  background: var(--accent);
}
.bg-primary-gradient {
  background: linear-gradient(
    180deg,
    var(--primary-o9) 0%,
    var(--primary-o5) 100%
  );
}
.bg-accent-gradient {
  background: linear-gradient(
    180deg,
    var(--accent-o9) 0%,
    var(--accent-o5) 100%
  );
}
.bg-gradient {
  background: linear-gradient(
    275.25deg,
    var(--accent) 2.12%,
    var(--primary) 86.62%
  );
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Margin Helfer-Klassen */
.mb-0,
.my-0,
.m-0 {
  margin-bottom: 0;
}
.mt-0,
.my-0,
.m-0 {
  margin-top: 0;
}
.ml-0,
.mx-0,
.m-0 {
  margin-left: 0;
}
.mr-0,
.mx-0,
.m-0 {
  margin-right: 0;
}
.mb-auto,
.my-auto,
.m-auto {
  margin-bottom: auto;
}
.mt-auto,
.my-auto,
.m-auto {
  margin-top: auto;
}
.ml-auto,
.mx-auto,
.m-auto {
  margin-left: auto;
}
.mr-auto,
.mx-auto,
.m-auto {
  margin-right: auto;
}
.mx-4 {
  margin: 0 4rem;
}
.mx-5 {
  margin: 0 5rem;
}
.ml-1 {
  margin-left: 1em;
}
.mr-1 {
  margin-right: 1em;
}
.ml-2 {
  margin-left: 2rem;
}
.ml-4 {
  margin-left: 4rem;
}
.mr-4 {
  margin-right: 4rem;
}
.mr-2 {
  margin-right: 2rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
.mb-5 {
  margin-bottom: 5rem;
}
.mt-5 {
  margin-top: 5rem;
}
.mb-7 {
  margin-bottom: 7rem;
}
.mt-7 {
  margin-top: 7rem;
}
.ml-5 {
  margin-left: 5rem;
}
.hidden {
  display: none !important;
}
.p-0 {
  padding: 0;
}
.p-2 {
  padding: 2rem !important;
}
.p-3 {
  padding: 3rem !important;
}
.p-4 {
  padding: 4rem !important;
}
.p-5 {
  padding: 5rem !important;
}
.p-6 {
  padding: 6rem !important;
}
.p-7 {
  padding: 7rem !important;
}
.py-1 {
  padding-top: 1em;
  padding-bottom: 1em;
}
.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.round {
  border-radius: 50%;
}

.w-auto {
  width: auto;
}
.w-full {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.w-50 {
  width: 50%;
}
.h-auto {
  height: auto;
}
.h-100 {
  height: 100%;
}
.mw-0 {
  min-width: 0;
}
.mh-80vh {
  min-height: 80vh;
}

.t-0 {
  top: 0;
}
.l-0 {
  left: 0;
}
.t-50 {
  top: 50%;
}
.l-50 {
  left: 50%;
}
.transform-l-n50 {
  transform: translateX(-50%);
}
.transform-t-n50 {
  transform: translateY(-50%);
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

.grid-content-width {
  max-width: 900px;
}
.grid-max-width {
  max-width: 1100px;
}
@media screen and (min-width: 1550px) {
  .grid-content-width {
    max-width: 1200px;
  }
  .grid-max-width {
    max-width: 1400px;
  }
}
.line-0 {
  line-height: 0;
}
